.glow-yellow {
  box-shadow: 6px -16px 150px 100px rgb(216 173 9);
}

.glow-red {
  box-shadow: 6px -16px 150px 100px rgb(210 72 14);
}

.glow-green {
  box-shadow: 6px -16px 150px 100px rgb(9 216 50);
}
